/* =================== main =================== */
// common
.main-page {
  padding: 20px 0;

  &::before {
    content: "";
    position: fixed;
    display: block;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #db0007, #ff6699);
  }
}

.resume-section {
  padding: 30px 0; // temp

  .external-link {
    text-decoration: underline;
    color: #db0007;
    text-underline-position: under;
  }

  .section-title {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 14px;
    line-height: 0.8;
    padding-left: 15px;

    &.type-multiline {
      &::before {
        top: 50%;
        height: 100%;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 65%;
      transform: translateY(-50%);
      width: 5px;
      height: 70%;
      background-color: #db0007;
    }
  }

  .company-group {
    margin-bottom: 10px;

    &.type-nondev {
      .type-company {
        padding: 6px 0 10px;

        .section-sub-title {
          font-size: 20px;
        }

        .section-job-position {
          font-size: 16px;
        }

        .section-sub-period {
          font-size: 12px;
        }
      }

      .section-sub-title-group {
        padding: 6px 0 10px;
      }

      .section-item-group {
        .section-sub-title {
          font-size: 16px;
        }
      }
    }
  }

  .section-item-group {
    margin-bottom: 20px;
  }

  .section-sub-title-group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px 0 15px;
    gap: 10px;

    &.type-company {
      .section-sub-title {
        font-size: 24px;
        font-weight: 600;
      }

      .section-job-position {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .section-sub-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
  }

  .icon-link-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }

  .section-sub-period {
    font-size: 14px;
    color: #808080;
    padding-bottom: 2px;
  }

  .section-thumb-group {
    margin-bottom: 16px;
    width: 100%;

    .prj-thumbnail-img {
      width: 100%;
      object-fit: cover;
    }
  }

  .section-sub-item-group {
    margin-bottom: 16px;
  }

  .section-list-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .section-list {
    position: relative;
    margin-bottom: 5px;
    padding-left: 12px;
    line-height: 1.5;

    &::before {
      content: "•";
      z-index: 1;
      position: absolute;
      left: 0;
      color: #db0007;
    }

    .section-txt {
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.signiture-dot {
  color: #db0007;
  font-size: 50px;
}

// 소개 섹션
.introduce-section {
  .introduce-info-group {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    padding: 20px 0;

    .introduce-img-group {
      overflow: hidden;
      width: 30%;
      border-radius: 10px;

      .introduce-img {
        width: 100%;
        object-fit: cover;
      }
    }

    .code-block-info {
      &.is-dark {
        // 다크모드
        background-color: #011627; // dark mode
        color: #fff;

        .code {
          font-family: "Consolas", "Monaco", monospace;

          &.keyword {
            color: #c792ea;
          }

          &.var {
            color: #61aaff;
          }

          &.block {
            color: #d6d70d;
          }

          &.key {
            color: #c792ea;
          }

          &.value {
            color: #ecc48d;

            a {
              color: #ecc48d;
            }
          }
        }
      }
      flex-grow: 1;
      background-color: #fbfbfb;
      font-family: "Consolas", "Monaco", monospace;
      font-size: 14px;
      padding: 10px;
      border-radius: 10px;

      .code {
        font-family: "Consolas", "Monaco", monospace;

        &.keyword {
          color: #994cc3;
        }

        &.var {
          color: #994cc3;
          font-style: italic;
        }

        &.block {
          display: inline-block;
          color: #5331fa;
        }

        &.key {
          color: #994cc3;
          font-style: italic;
        }

        &.value {
          color: #c96765;

          a {
            color: #c96765;

            &.code-link {
              text-decoration: underline;
              text-underline-position: under;
            }
          }
        }
      }
    }
  }
}
