/* =================== main =================== */
// aniamation
@keyframes blink {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

// dark-mode
:root[color-theme="light"] {
  --backgroundColor: #fff;
  --textColor: #191919;
  transition: all 0.3s;
}

:root[color-theme="dark"] {
  --backgroundColor: #000;
  --textColor: #ececec;
  transition: all 0.3s;
}

.main-page.is-dark {
  .resume-section .external-link {
    color: #ecc48d;
  }

  .darkmode-group {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .dark-mode-icon {
      transform: rotate(360deg);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='501.751' height='511.299' viewBox='0 0 501.751 511.299'%3E%3Cg id='icon_moon' transform='translate(-5.063 511.799)'%3E%3Cpath id='패스_1' data-name='패스 1' d='M236.5-510.9a257.438,257.438,0,0,0-202.4,136C21.4-350.6,12.9-325.1,7.9-296c-2.7,16-3.7,49-2,65.2C17.5-121.8,94.2-33.5,200-7.6c22.9,5.7,34.7,7,60.5,7.1,23.3,0,31.8-.8,51-4.6C369.1-16.6,424.3-50.3,461-96.5c16.1-20.3,31.5-47.9,40.6-73,5.8-16,6.6-22.5,3.2-27.5-6-8.8-15.6-10.5-24.1-4.2-34.2,25.7-72.6,37.5-110.8,34.2C299.7-173.1,244-220,227-287.4c-13-51.5,1.1-106,37.8-146.5,13.4-14.7,35.3-30.2,53.4-37.7,5.9-2.5,9.8-4.8,11.8-7,7.8-9,3.5-22.4-8.3-25.9C301.4-510.5,263-513.4,236.5-510.9Zm31,31.7c-.6.4-4.2,3.4-8.1,6.5-28.6,22.9-51.8,58.6-61.9,95.2-5.7,20.8-6.9,29.8-6.9,52,0,31.7,5,53.9,18.4,82.2a189.049,189.049,0,0,0,83.2,86.8c28,14.7,56.8,21.7,89.3,21.8,24.4,0,47.7-4.2,68.2-12.4,4.1-1.6,7.7-2.8,7.9-2.6.7.7-11.8,20.3-18.6,29.3-29.9,39.3-73.7,68.5-121.2,80.8-22.3,5.8-32.6,7.1-56.8,7.1-26.3-.1-42.1-2.3-65-9.2C115-66.1,55.1-134,39.8-218.7c-2-11.1-2.3-16-2.3-37.3.1-26,.9-33.4,6.1-54.1A224.43,224.43,0,0,1,234.7-478.5c12.1-1.4,34.2-1.9,32.8-.7Z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
    }
  }

  .introduce-section .introduce-info-group .code-block {
    background-color: #011627;
    color: #fff;

    .code {
      font-family: "Consolas", "Monaco", monospace;

      &.keyword {
        color: #c792ea;
      }

      &.var {
        color: #61aaff;
      }

      &.block {
        color: #d6d70d;
      }

      &.key {
        color: #c792ea;
      }

      &.value {
        color: #ecc48d;

        a {
          color: #ecc48d;
        }
      }
    }

    .code-cursor {
      background-color: #80a4c2;
    }
  }
}

// common
html {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

.main-page {
  padding: 20px 0;

  @include mobile {
    padding: 30px 0;
  }

  &::before {
    content: "";
    position: fixed;
    display: block;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #db0007, #ff6699);
  }
}

.darkmode-group {
  position: fixed;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5px;
  top: 15px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: right 0.7s;

  &.is-hide {
    right: -10%;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .dark-mode-label {
    display: block;
    width: 60%;
    height: 60%;
  }

  .dark-mode-icon {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    transition: all 0.3s;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='447.389' height='447.184' viewBox='0 0 447.389 447.184'%3E%3Cg id='icon_sun' transform='translate(-32.111 479.684)'%3E%3Cpath id='패스_1' data-name='패스 1' d='M249.5-478.6c-4.1,1.8-8.3,6.9-9,10.9-.3,1.8-.5,15.4-.3,30.4.3,25.6.4,27.3,2.4,29.9,3.9,5.3,7.1,6.9,13.4,6.9s9.5-1.6,13.4-6.9c2-2.6,2.1-4,2.1-32.6s-.1-30-2.1-32.6a25.655,25.655,0,0,0-4.6-4.7C261.5-479.8,253.5-480.5,249.5-478.6Z'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M102.5-417.6c-6.7,2.9-10.5,10.5-9,18.3.5,3.2,3.6,6.8,20.8,24,16.7,16.6,20.9,20.3,24.2,21.2a15.858,15.858,0,0,0,15.288-4.112A15.858,15.858,0,0,0,157.9-373.5c-.9-3.3-4.6-7.5-20.2-23.4-10.6-10.6-20.6-19.9-22.4-20.7a16.7,16.7,0,0,0-12.8,0Z'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M396.5-417.6c-1.6.8-11.8,10.3-22.7,21.2-18.7,19-19.6,20.1-20.3,24.6a16.1,16.1,0,0,0,4.539,13.761A16.1,16.1,0,0,0,371.8-353.5c4.5-.6,5.5-1.5,25.4-21.3,17.7-17.7,20.8-21.2,21.3-24.5C420.9-412.6,408.5-422.9,396.5-417.6Z'/%3E%3Cpath id='패스_4' data-name='패스 4' d='M238-366.5c-29.3,4.7-57.6,22.7-74.7,47.6C155-306.8,148-289,145.5-273.5c-4.4,27.2,2.4,57.9,17.8,80.4,17.4,25.3,45.5,43.1,75.7,47.6,67.7,10.3,128.8-42.1,129-110.5,0-34.4-16.9-68.5-44.2-89.1A113.058,113.058,0,0,0,238-366.5Z'/%3E%3Cpath id='패스_5' data-name='패스 5' d='M41.5-270.6c-6.7,2.9-10.5,10.6-9.1,18.1.9,4.7,5.9,10.2,10.4,11.6,2.4.6,13.6.9,31.4.7,26.1-.3,27.8-.4,30.4-2.4,5.3-3.9,6.9-7.1,6.9-13.4s-1.6-9.5-6.9-13.4c-2.6-2-4.2-2.1-31.4-2.3C50.9-271.9,43.8-271.7,41.5-270.6Z'/%3E%3Cpath id='패스_6' data-name='패스 6' d='M409.5-270.6c-6.7,2.9-10.5,10.6-9.1,18.1.9,4.7,5.9,10.2,10.4,11.6,2.4.6,13.6.9,31.4.7,26.1-.3,27.8-.4,30.4-2.4,5.3-3.9,6.9-7.1,6.9-13.4s-1.6-9.5-6.9-13.4c-2.6-2-4.2-2.1-31.4-2.3C418.9-271.9,411.8-271.7,409.5-270.6Z'/%3E%3Cpath id='패스_7' data-name='패스 7' d='M136.5-157.6c-1.6.8-11.9,10.3-22.7,21.2C92.7-115,91.9-113.8,93.5-105.3c.9,4.9,6.9,10.9,11.8,11.8,8.6,1.6,9.6,1,31.9-21.3,17.6-17.6,20.8-21.3,21.3-24.5C161-152.5,148.4-162.9,136.5-157.6Z'/%3E%3Cpath id='패스_8' data-name='패스 8' d='M362.5-157.6c-6.7,2.9-10.5,10.5-9,18.3.5,3.2,3.7,6.9,21.3,24.5,22.3,22.3,23.3,22.9,31.9,21.3,4.9-.9,10.9-6.9,11.8-11.8,1.6-8.5.8-9.7-20.3-31.1-10.8-10.9-21.1-20.4-22.9-21.2a16.7,16.7,0,0,0-12.8,0Z'/%3E%3Cpath id='패스_9' data-name='패스 9' d='M249.5-110.6c-4.1,1.8-8.3,6.9-9,10.9-.3,1.8-.5,15.4-.3,30.4.3,25.6.4,27.3,2.4,29.9,3.9,5.3,7.1,6.9,13.4,6.9s9.5-1.6,13.4-6.9c2-2.6,2.1-4,2.1-32.6s-.1-30-2.1-32.6a25.655,25.655,0,0,0-4.6-4.7C261.5-111.8,253.5-112.5,249.5-110.6Z'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
}

.resume-section {
  padding: 30px 0;

  @include mobile {
    padding: 10px 0;
  }

  .external-link {
    text-decoration: underline;
    color: #db0007;
    text-underline-position: under;
  }

  .section-title {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 0.8;
    padding-left: 15px;

    @include mobile {
      font-size: 28px;
      margin-bottom: 20px;
      padding-left: 13px;
    }

    &.type-multiline {
      &::before {
        top: 50%;
        height: 100%;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 65%;
      transform: translateY(-50%);
      width: 5px;
      height: 70%;
      background-color: #db0007;
    }
  }

  .company-group {
    margin-bottom: 10px;

    @include mobile {
      margin-bottom: 8px;
    }

    &.type-nondev {
      .type-company {
        padding: 6px 0 10px;

        @include mobile {
          padding: 4px 0 8px;
        }

        .section-sub-title {
          font-size: 22px;

          @include mobile {
            font-size: 18px;
          }
        }

        .section-job-position {
          font-size: 16px;
        }

        .section-sub-period {
          font-size: 12px;
        }
      }

      .section-sub-title-group {
        padding: 4px 0 7px;

        @include mobile {
          padding: 4px 0 6px;
        }
      }

      .section-item-group {
        .section-sub-title {
          font-size: 16px;

          @include mobile {
            font-size: 14px;
          }
        }
      }
    }
  }

  .section-item-group {
    padding: 10px 0;
    border-bottom: 1px solid rgba(#e0e0e0, 0.4);

    &:last-child {
      border-bottom: 0;
    }

    @include mobile {
      padding: 5px 0;
    }
  }

  .section-sub-title-group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px 0 15px;
    gap: 10px;

    @include mobile {
      padding: 6px 0 10px;
      flex-wrap: wrap;
      gap: 6px;

      .section-sub-title {
        width: 100%;
      }
    }

    &.type-company {
      .section-sub-title {
        font-size: 22px;
        font-weight: 600;
      }

      .section-job-position {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .section-sub-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
  }

  .icon-link-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }

  .section-sub-period {
    font-size: 14px;
    color: #808080;
    padding-bottom: 2px;
  }

  .section-thumb-group {
    margin-bottom: 16px;
    width: 100%;

    .prj-thumbnail-img {
      width: 100%;
      object-fit: cover;
    }
  }

  .section-sub-item-group {
    margin-bottom: 16px;
  }

  .section-list-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;

    @include mobile {
      margin-bottom: 6px;
    }
  }

  .section-list {
    position: relative;
    margin-bottom: 5px;
    padding-left: 10px;
    line-height: 1.5;

    &::before {
      content: "";
      display: block;
      z-index: 1;
      position: absolute;
      left: 0;
      top: 9px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #db0007;
    }

    .section-txt {
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.signiture-dot {
  color: #db0007;
  font-size: 50px;
  margin-left: 2px;
}

// 소개 섹션
.introduce-section {
  .introduce-info-group {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    padding: 20px 0;

    @include mobile {
      display: block;
      padding: 10px 0;
    }

    .introduce-img-group {
      overflow: hidden;
      width: 30%;
      border-radius: 10px;

      @include mobile {
        margin-bottom: 5px;
        width: 100%;
      }

      .introduce-img {
        width: 100%;
        object-fit: cover;
      }
    }

    .code-block {
      flex-grow: 1;
      background-color: #fbfbfb;
      font-family: "Consolas", "Monaco", monospace;
      font-size: 14px;
      border-radius: 10px;

      .code {
        font-family: "Consolas", "Monaco", monospace;

        &.keyword {
          color: #994cc3;
        }

        &.var {
          color: #994cc3;
          font-style: italic;
        }

        &.block {
          display: inline-block;
          color: #5331fa;
        }

        &.key {
          color: #994cc3;
          font-style: italic;
        }

        &.value {
          color: #c96765;

          a {
            color: #c96765;

            &.code-link {
              text-decoration: underline;
              text-underline-position: under;
            }
          }
        }
      }

      .code-cursor {
        display: inline-block;
        width: 1px;
        height: 17px;
        background-color: #90a7b2;
        animation: blink 1s step-start infinite;
      }
    }
  }
}
