@charset "UTF-8";
/* =================== base =================== */
html,
body,
[class] {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.15;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-family: "pretendard", sans-serif;
  letter-spacing: -0.04em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

/* HTML5 display-role reset for older browsers */
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: #191919;
  cursor: pointer;
}

ol,
ul,
dl {
  list-style: none;
}

textarea {
  resize: none;
}

select {
  padding: 5px 10px;
}

/* ie 화살표 제거 */
select::-ms-expand {
  display: none;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset img */
img {
  max-width: 100%;
  height: auto;
}

/* =================== fonts =================== */
/* ---------- pretendard ---------- */
@font-face {
  font-family: "pretendard";
  font-weight: 100;
  src: url("../../fonts/pretendard/Pretendard-Thin.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Thin.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Thin.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 200;
  src: url("../../fonts/pretendard/Pretendard-ExtraLight.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-ExtraLight.woff") format("woff"), url("../../fonts/pretendard/Pretendard-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 300;
  src: url("../../fonts/pretendard/Pretendard-Light.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Light.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  src: url("../../fonts/pretendard/Pretendard-Regular.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Regular.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 500;
  src: url("../../fonts/pretendard/Pretendard-Medium.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Medium.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 600;
  src: url("../../fonts/pretendard/Pretendard-SemiBold.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-SemiBold.woff") format("woff"), url("../../fonts/pretendard/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 700;
  src: url("../../fonts/pretendard/Pretendard-Bold.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Bold.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 800;
  src: url("../../fonts/pretendard/Pretendard-ExtraBold.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff"), url("../../fonts/pretendard/Pretendard-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 900;
  src: url("../../fonts/pretendard/Pretendard-Black.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Black.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Black.otf") format("opentype");
}
/* =================== helper =================== */
.is-none {
  display: none;
}

.voice-only {
  position: absolute;
  top: 0;
  left: -9999rem;
  overflow: hidden;
  width: 1px;
  height: 1px;
  color: transparent;
}

@media all and (max-width: 600px) {
  .mb-hide {
    display: none !important;
  }
}

.mb-show {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show {
    display: block !important;
  }
}

.mb-show-flex {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.mb-show-ib {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 900px) {
  .tab-hide {
    display: none !important;
  }
}

.tab-show {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show {
    display: block !important;
  }
}

.tab-show-flex {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.tab-show-ib {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 360px) {
  .sm-hide {
    display: none !important;
  }
}

.sm-show {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show {
    display: block !important;
  }
}

.sm-show-flex {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.sm-show-ib {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 320px) {
  .xsm-hide {
    display: none !important;
  }
}

.xsm-show {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show {
    display: block !important;
  }
}

.xsm-show-flex {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.xsm-show-ib {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show-ib {
    display: inline-block !important;
  }
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.scroll-custom {
  overflow-y: auto;
}
.scroll-custom::-webkit-scrollbar {
  width: 5px;
}
.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #023474;
}
html.ie .scroll-custom {
  scrollbar-arrow-color: #db0007;
  scrollbar-face-color: #db0007;
  scrollbar-track-color: #023474;
}

/* =================== button =================== */
.btn {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.btn:disabled {
  background-color: gray;
  cursor: default;
}

.btn-sm {
  height: 30px;
}

.btn-md {
  height: 50px;
}

.btn-lg {
  height: 70px;
}

.btn-full {
  width: 100%;
  height: 100%;
}

.btn-primary {
  background-color: #db0007;
  color: #191919;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: transparent;
  border: 1px solid #db0007;
}

.btn-secondary {
  background-color: #023474;
  color: #191919;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: transparent;
  border: 1px solid #023474;
}

.btn-gray-55 {
  color: #191919;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-gray-55:hover, .btn-gray-55:focus {
  background-color: transparent;
  border: 1px solid;
}

.btn-bd-primary {
  border: 1px solid #db0007;
  background-color: white;
  color: #db0007;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-bd-primary:hover, .btn-bd-primary:focus {
  background-color: #db0007;
  color: #191919;
}

.btn-bd-secondary {
  border: 1px solid #023474;
  background-color: white;
  color: #023474;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-bd-secondary:hover, .btn-bd-secondary:focus {
  background-color: #023474;
  color: #191919;
}

.btn-bd-gray-55 {
  border: 1px solid;
  background-color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-bd-gray-55:hover, .btn-bd-gray-55:focus {
  color: #191919;
}

.btn-gst-primary {
  border: 1px solid #db0007;
  color: #db0007;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-gst-primary:hover, .btn-gst-primary:focus {
  background-color: #db0007;
  color: #191919;
}

.btn-gst-secondary {
  border: 1px solid #023474;
  color: #023474;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-gst-secondary:hover, .btn-gst-secondary:focus {
  background-color: #023474;
  color: #191919;
}

.btn-gst-gray-55 {
  border: 1px solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-gst-gray-55:hover, .btn-gst-gray-55:focus {
  color: #191919;
}

.btn-kakao {
  background-color: #fae300;
  color: #ffffff;
}

.btn-facebook {
  background-color: #204889;
  color: #ffffff;
}

.btn-naver {
  background-color: #00bf19;
  color: #ffffff;
}

.btn-kakao {
  color: #2b1718;
}

.btn-icon {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

/* =================== form =================== */
.input-wrap {
  width: 100%;
}

.input {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 17px;
  border-radius: 6px;
  background-color: white;
  font-size: 18px;
  border: 1px solid;
}
.input:hover, .input:focus {
  border-color: #db0007;
}
.input::-webkit-input-placeholder {
  opacity: 0.7;
}
.input::-moz-placeholder {
  opacity: 0.7;
}
.input:-ms-input-placeholder {
  opacity: 0.7;
}
.input::-ms-input-placeholder {
  opacity: 0.7;
}
.input::placeholder {
  opacity: 0.7;
}
.input.input-tarea {
  width: 100%;
  height: 500px;
  padding: 20px;
  border: 1px solid;
  border-radius: 6px;
  resize: none;
}
.input.input-round {
  border: 1px solid;
  border-radius: 25px;
}
.input.input-underbar {
  border-bottom: 1px solid;
}

/* ========== icon 관련 스타일 ========== */
.icon {
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-extenal-link {
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M3039 5104 c-64 -19 -141 -90 -169 -156 -48 -113 -20 -240 72 -323%0A84 -76 79 -75 677 -75 l526 0 -1192 -1192 c-1318 -1319 -1243 -1236 -1243%0A-1368 0 -206 213 -341 400 -254 48 22 213 182 1248 1217 l1192 1192 0 -526 c0%0A-598 -1 -593 75 -677 115 -128 305 -127 420 0 79 88 76 36 73 1064 l-3 909%0A-22 41 c-34 63 -66 97 -125 129 l-53 30 -915 2 c-772 2 -922 0 -961 -13z'/%3E%3Cpath d='M705 4539 c-267 -50 -495 -221 -618 -466 -15 -28 -39 -91 -54 -140%0Al-28 -88 -3 -1525 c-2 -1045 1 -1547 8 -1594 29 -187 103 -329 245 -471 142%0A-142 284 -216 471 -245 47 -7 549 -10 1594 -8 l1525 3 88 28 c325 101 548 353%0A606 681 7 38 11 294 11 692 0 608 -1 635 -20 686 -40 107 -149 181 -266 180%0A-110 -1 -198 -55 -252 -157 l-27 -50 -5 -645 -5 -645 -23 -47 c-13 -26 -44%0A-65 -68 -87 -87 -76 33 -71 -1604 -71 -1664 0 -1531 -7 -1623 83 -95 92 -87%0A-53 -87 1622 0 1642 -5 1522 71 1609 22 24 61 55 87 68 l47 23 640 5 640 5 52%0A24 c138 62 204 231 144 367 -30 68 -94 130 -159 154 -51 19 -77 20 -695 19%0A-353 -1 -664 -5 -692 -10z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-github {
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M2384 5060 c-1012 -69 -1891 -738 -2235 -1703 -53 -146 -102 -349%0A-125 -512 -23 -157 -25 -496 -5 -655 102 -816 575 -1526 1287 -1932 164 -94%0A418 -200 483 -202 51 -1 94 20 116 57 18 30 19 50 16 267 -1 129 -3 236 -4%0A236 -1 1 -38 -4 -82 -12 -263 -43 -497 16 -646 165 -58 58 -76 86 -134 206%0A-94 196 -149 271 -255 348 -78 56 -120 98 -120 119 0 50 121 67 217 30 125%0A-47 208 -119 299 -258 126 -191 284 -276 485 -261 77 6 233 49 245 68 3 6 13%0A38 20 71 19 80 68 181 110 228 40 45 44 42 -86 60 -103 14 -282 60 -368 94%0A-362 143 -571 410 -649 829 -25 134 -25 463 0 567 36 149 103 285 195 398 l43%0A53 -15 47 c-52 161 -46 370 16 564 20 61 24 67 54 73 107 20 352 -68 576 -206%0Al98 -61 87 20 c204 47 298 57 553 57 256 0 349 -10 553 -57 l88 -20 77 48%0Ac153 96 304 167 407 193 85 21 159 31 191 25 28 -5 33 -12 52 -72 57 -178 67%0A-404 23 -542 l-21 -65 20 -25 c98 -121 175 -269 212 -409 26 -98 36 -348 19%0A-488 -74 -608 -407 -935 -1041 -1023 -120 -16 -118 -15 -83 -53 46 -48 90%0A-134 115 -223 20 -74 22 -106 27 -529 7 -492 5 -482 66 -507 47 -20 102 -13%0A200 26 348 135 622 311 884 569 417 410 679 942 752 1527 20 159 18 498 -5%0A655 -173 1219 -1151 2131 -2373 2215 -161 11 -175 11 -339 0z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-document {
  width: 20px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M955 5106 c-84 -21 -147 -57 -211 -121 -65 -65 -105 -136 -123 -223%0A-16 -76 -16 -4329 0 -4404 37 -172 175 -310 347 -347 75 -16 3108 -16 3184 0%0A170 36 311 178 347 347 8 38 11 545 11 1748 0 1532 -2 1698 -16 1727 -22 44%0A-1220 1244 -1266 1268 -36 18 -68 19 -1130 18 -839 -1 -1105 -4 -1143 -13z%0Am2055 -681 c0 -256 4 -413 11 -447 37 -172 175 -310 347 -347 34 -7 191 -11%0A447 -11 l395 0 0 -1600 c0 -1585 0 -1601 -20 -1640 -13 -26 -34 -47 -60 -60%0A-39 -20 -56 -20 -1571 -20 l-1531 0 -40 22 c-24 14 -48 38 -59 60 -18 36 -19%0A95 -19 2180 1 2044 2 2145 19 2177 10 18 35 44 57 57 l39 24 993 0 992 0 0%0A-395z m699 -503 c-275 -2 -281 -2 -321 20 -75 42 -78 58 -78 380 l0 283 340%0A-340 340 -340 -281 -3z'/%3E%3Cpath d='M1588 2979 c-43 -22 -78 -81 -78 -129 0 -50 35 -107 80 -130 38 -20%0A57 -20 970 -20 913 0 932 0 970 20 45 23 80 80 80 130 0 50 -35 107 -80 130%0A-38 20 -56 20 -972 20 -909 -1 -934 -1 -970 -21z'/%3E%3Cpath d='M1588 2379 c-43 -22 -78 -81 -78 -129 0 -50 35 -107 80 -130 38 -20%0A57 -20 970 -20 913 0 932 0 970 20 45 23 80 80 80 130 0 50 -35 107 -80 130%0A-38 20 -56 20 -972 20 -909 -1 -934 -1 -970 -21z'/%3E%3Cpath d='M1588 1779 c-43 -22 -78 -81 -78 -129 0 -50 35 -107 80 -130 38 -20%0A57 -20 970 -20 913 0 932 0 970 20 45 23 80 80 80 130 0 50 -35 107 -80 130%0A-38 20 -56 20 -972 20 -909 -1 -934 -1 -970 -21z'/%3E%3Cpath d='M1588 1179 c-43 -22 -78 -81 -78 -129 0 -50 35 -107 80 -130 38 -19%0A58 -20 670 -20 612 0 632 1 670 20 45 23 80 80 80 130 0 50 -35 107 -80 130%0A-38 19 -57 20 -672 20 -610 -1 -634 -2 -670 -21z'/%3E%3C/g%3E%3C/svg%3E");
}

/* ========== END icon 관련 스타일 ========== */
/* =================== layout =================== */
#app {
  min-height: 100%;
}

#page {
  min-height: 100%;
}

.l-center {
  max-width: 900px;
  width: 95%;
  margin: 0 auto;
  padding: 0 16px;
}

.panel {
  max-width: 915px;
  width: 100%;
  margin: 0 auto;
}

/* =================== main =================== */
.main-page {
  padding: 20px 0;
}
.main-page::before {
  content: "";
  position: fixed;
  display: block;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#db0007), to(#ff6699));
  background: linear-gradient(90deg, #db0007, #ff6699);
}

.resume-section {
  padding: 30px 0;
}
.resume-section .external-link {
  text-decoration: underline;
  color: #db0007;
  text-underline-position: under;
}
.resume-section .section-title {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 14px;
  line-height: 0.8;
  padding-left: 15px;
}
.resume-section .section-title.type-multiline::before {
  top: 50%;
  height: 100%;
}
.resume-section .section-title::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 65%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5px;
  height: 70%;
  background-color: #db0007;
}
.resume-section .company-group {
  margin-bottom: 10px;
}
.resume-section .company-group.type-nondev .type-company {
  padding: 6px 0 10px;
}
.resume-section .company-group.type-nondev .type-company .section-sub-title {
  font-size: 20px;
}
.resume-section .company-group.type-nondev .type-company .section-job-position {
  font-size: 16px;
}
.resume-section .company-group.type-nondev .type-company .section-sub-period {
  font-size: 12px;
}
.resume-section .company-group.type-nondev .section-sub-title-group {
  padding: 6px 0 10px;
}
.resume-section .company-group.type-nondev .section-item-group .section-sub-title {
  font-size: 16px;
}
.resume-section .section-item-group {
  margin-bottom: 20px;
}
.resume-section .section-sub-title-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px 0 15px;
  gap: 10px;
}
.resume-section .section-sub-title-group.type-company .section-sub-title {
  font-size: 24px;
  font-weight: 600;
}
.resume-section .section-sub-title-group.type-company .section-job-position {
  font-size: 20px;
  font-weight: 500;
}
.resume-section .section-sub-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
}
.resume-section .icon-link-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.resume-section .section-sub-period {
  font-size: 14px;
  color: #808080;
  padding-bottom: 2px;
}
.resume-section .section-thumb-group {
  margin-bottom: 16px;
  width: 100%;
}
.resume-section .section-thumb-group .prj-thumbnail-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.resume-section .section-sub-item-group {
  margin-bottom: 16px;
}
.resume-section .section-list-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume-section .section-list {
  position: relative;
  margin-bottom: 5px;
  padding-left: 12px;
  line-height: 1.5;
}
.resume-section .section-list::before {
  content: "•";
  z-index: 1;
  position: absolute;
  left: 0;
  color: #db0007;
}
.resume-section .section-list .section-txt {
  font-size: 15px;
  font-weight: 400;
}

.signiture-dot {
  color: #db0007;
  font-size: 50px;
}

.introduce-section .introduce-info-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 20px;
  padding: 20px 0;
}
.introduce-section .introduce-info-group .introduce-img-group {
  overflow: hidden;
  width: 30%;
  border-radius: 10px;
}
.introduce-section .introduce-info-group .introduce-img-group .introduce-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.introduce-section .introduce-info-group .code-block-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fbfbfb;
  font-family: "Consolas", "Monaco", monospace;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
}
.introduce-section .introduce-info-group .code-block-info.is-dark {
  background-color: #011627;
  color: #fff;
}
.introduce-section .introduce-info-group .code-block-info.is-dark .code {
  font-family: "Consolas", "Monaco", monospace;
}
.introduce-section .introduce-info-group .code-block-info.is-dark .code.keyword {
  color: #c792ea;
}
.introduce-section .introduce-info-group .code-block-info.is-dark .code.var {
  color: #61aaff;
}
.introduce-section .introduce-info-group .code-block-info.is-dark .code.block {
  color: #d6d70d;
}
.introduce-section .introduce-info-group .code-block-info.is-dark .code.key {
  color: #c792ea;
}
.introduce-section .introduce-info-group .code-block-info.is-dark .code.value {
  color: #ecc48d;
}
.introduce-section .introduce-info-group .code-block-info.is-dark .code.value a {
  color: #ecc48d;
}
.introduce-section .introduce-info-group .code-block-info .code {
  font-family: "Consolas", "Monaco", monospace;
}
.introduce-section .introduce-info-group .code-block-info .code.keyword {
  color: #994cc3;
}
.introduce-section .introduce-info-group .code-block-info .code.var {
  color: #994cc3;
  font-style: italic;
}
.introduce-section .introduce-info-group .code-block-info .code.block {
  display: inline-block;
  color: #5331fa;
}
.introduce-section .introduce-info-group .code-block-info .code.key {
  color: #994cc3;
  font-style: italic;
}
.introduce-section .introduce-info-group .code-block-info .code.value {
  color: #c96765;
}
.introduce-section .introduce-info-group .code-block-info .code.value a {
  color: #c96765;
}
.introduce-section .introduce-info-group .code-block-info .code.value a.code-link {
  text-decoration: underline;
  text-underline-position: under;
}